<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <h1 class="col-6 offset-3">SINGUP FOR WANDERLUST</h1>
        <div class="col-6 offset-3">
            <form action="/singup" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" placeholder="Enter Username" id="username" type="text" class="form-control"
                        required>
                    <div class="valid-feedback"> username looks good</div>
                    <div class="invalid-feedback"> please enter Username </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input name="email" placeholder="Enter your email" id="email" type="email" class="form-control"
                        required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" placeholder="Enter Your Password" id="password" type="password" class="form-control"
                        required>
                </div>

                <button class="btn btn-success" >SingUp</button>
            </form>
        </div>
    </div>